.grid{
    display: grid;
}

/* Grid Formats */
.gridMatrix300{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.gridMatrix500{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

/* Grid Gap Sizing */
.gridGap1px{
    grid-gap: 1px;
}
.gridGap1{
    grid-gap: 1rem;
}
