.widthundred{
    width: 100%;
}

.heighthundred{
    height: 100%;
}

.maxWidth1Rem{
    max-width: 1rem;
}
.maxWidth50px{
    max-width: 50px;
}
.maxWidth1{
    max-width: 100px;
}
.maxWidth2{
    max-width: 200px;
}
.maxWidth3{
    max-width: 300px;
}
.maxWidth4{
    max-width: 400px;
}
.maxWidth5{
    max-width: 500px;
}
.maxWidth6{
    max-width: 600px;
}
.maxWidth7{
    max-width: 700px;
}

.maxWidth90vw{
    max-width: 90vw;
}

.maxHeight2{
    max-height: 200px;
}
.maxHeight3{
    max-height: 300px;
}
.maxHeight4{
    max-height: 400px;
}
.maxHeight5{
    max-height: 500px;
}
.maxHeight7{
    max-height: 700px;
}

.minHeight100{
    min-height: 100%;
}
.maxHeight100{
    max-height: 100%;
}

.maxHeight30vh{
    max-height: 30vh;
}

.vh30{
    height: 40vh;
}

.vw90{
    width: 90vw;
}

.scrollable{
    overflow-y: scroll;
}